<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TrendyMart | Ecommerce website</title>
    <link rel="stylesheet" href="static/css/main.css">

</head>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?
family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,
900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<body>
    <div class="header">
        <div class="container">
            <div class="navbar">
                <div class="logo">
                    <a href="home"><img src="static/images/logo.png" width="125px"></a>
                </div>
                <nav>
                    <ul id="MenuItems">
                        <li><a href="home">Home</a></li>
                        <li><a href="products">Products</a></li>
                        <li><a href="about">About</a></li>
                        <li><a href="account">Account</a></li>
                    </ul>
                </nav>
                <a href="cart"><img src="static/images/cart.png" width="70px" height="70px"></a>
                <img src="static/images/menu.png" class="menu-icon " onclick="menutoggle()">
            </div>
            <div class="row">
                <div class="col-2">
                    <h1>Welcome to TrendyMart!</h1>
                    <p>Discover the latest
                        trends and find everything you need to elevate your style.</p>
                    <a href="products" class="btn">Explore Now</a>
                </div>
                <div class="col-2">
                    <img src="static/images/Header1.png">
                </div>
            </div>
        </div>
    </div>
    <!-- featured categories -->
    <div class="categories">
        <div class="small-container">
            <div class="row">
                <div class="col-3">
                    <img src="static/images/cat1.jpg">
                </div>
                <div class="col-3">
                    <img src="static/images/pic2.jpg">
                </div>
                <div class="col-3">
                    <img src="static/images/cat1.jpg">
                </div>
            </div>
        </div>
    </div>

    <!-- Clothes Products -->
    <div class="small-container">
        <h2 class="title">Clothes Products</h2>
        <div class="row">
            <div class="col-4">
                <a href="products-details"><img src="static/images/dress1-p1.png"></a>
                <a href="products-details"><h4>Printed Dress</h4></a>
                <p>150$</p>
                <div class="rating">

                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-half-o"></i>
                    <i class="fa fa-star-o"></i>
                </div>

            </div>
            <div class="col-4">
                <img src="static/images/men-shirt-p1.png">
                <h4>Long Sleeve Men's Shirt</h4>
                <p>50$</p>
                <div class="rating">

                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>

            </div>
            <div class="col-4">
                <img src="static/images/men-cardigan-p1.png">
                <h4>Men's Tricot Cardigan</h4>
                <p>100$</p>
                <div class="rating">

                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-half-o"></i>
                    <i class="fa fa-star-o"></i>
                </div>

            </div>
            <div class="col-4">
                <img src="static/images/baby.sweatshirt-p1.png">
                <h4>Baby Boy Sweatshirt</h4>
                <p>80$</p>
                <div class="rating">

                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>

            </div>
        </div>
        <!-- Electronics -->
        <h2 class="title">Electronics</h2>
        <div class="row">
            <div class="col-4">
                <img src="static/images/camera.png">
                <h4>Camera</h4>
                <!-- <p>50$</p> -->
                <div class="rating">

                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-half-o"></i>
                    <i class="fa fa-star-o"></i>
                </div>

            </div>
            <div class="col-4">
                <img src="static/images/tv.png">
                <h4>Audio Electronics</h4>
                <!-- <p>50$</p> -->
                <div class="rating">

                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>

            </div>
            <div class="col-4">
                <img src="static/images/vedio-games.png">
                <h4>Vedio Games</h4>
                <!-- <p>50$</p> -->
                <div class="rating">

                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-half-o"></i>
                    <i class="fa fa-star-o"></i>
                </div>

            </div>
            <div class="col-4">
                <img src="static/images/headphones.png">
                <h4>Head Phones</h4>
                <!-- <p>50$</p> -->
                <div class="rating">

                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>

            </div>
        </div>
    </div>
    <!-- offer -->
    <div class="offer">
        <div class="small-container">
            <div class="row">
                <div class="col-2">
                    <p>Exclusively Available in TrendyMart</p>
                    <h1>HUAWEI WATCH</h1>
                    <small>HUAWEI WATCH FIT 3 Smartwatch, 1.82" AMOLED Display, 
                        Ultra-Slim Design, All Round Fitness Management, 
                        Comprehensive Health Management.
                        </small>
                        <br>
                    <a href="" class="btn">Buy Now</a>
                </div>
                <div class="col-2">
                    <img src="static/images/watch without bg.png" class="offer-img">
                </div>
                
            </div>
        </div>
    </div>
    <!-- testimonial -->
    <!-- <div class="Testimonial">
        <div class="small-container">
            <div class="row">
                <div class="col-3">
                    <i class="fa fa-quote-left"></i>
                    <p>High-Performance Laptop Elevate your productivity with our high-performance laptop. Designed for
                        professionals and gamers alike</p>
                    <div class="rating">

                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-o"></i>
                    </div>
                    <img src="images/cat3.jpg">
                    <h3>Mohamed Ragab</h3>
                </div>
                <div class="col-3">
                    <i class="fa fa-quote-left"></i>
                    <p>High-Performance Laptop Elevate your productivity with our high-performance laptop. Designed for
                        professionals and gamers alike</p>
                    <div class="rating">

                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-o"></i>
                    </div>
                    <img src="images/cat1.jpg">
                    <h3>Amira Ragab</h3>
                </div>
                <div class="col-3">
                    <i class="fa fa-quote-left"></i>
                    <p>High-Performance Laptop Elevate your productivity with our high-performance laptop. Designed for
                        professionals and gamers alike</p>
                    <div class="rating">

                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-o"></i>
                    </div>
                    <img src="images/cat7.jpg">
                    <h3>mika hjk</h3>
                </div>
            </div>
        </div>
    </div> -->
    <!-- brands -->
    <div class="brands">
        <div class="small-container">
            <div class="row">
                <div class="col-5">
                    <img src="static/images/lacosta logo.png" alt="">
                </div>
                <div class="col-5">
                    <img src="static/images/fila-logo.png" alt="">
                </div>
                <div class="col-5">
                    <img src="static/images/apple logo.png" alt="">
                </div>
                <div class="col-5">
                    <img src="static/images/huawei logo.png" alt="">
                </div>
                <div class="col-5">
                    <img src="static/images/sony logo.png" alt="">
                </div>
            </div>
        </div>
    </div>

    <!-- footer -->
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="footer-col-1">
                    <h3>Download Our App</h3>
                    <p>Download App for Androied and ios mopile phone.</p>
                    <div class="app-logo">
                        <img src="images/googleplay logo.png">
                        <img src="images/appstore logo.png">
                    </div>
                </div>
                <div class="footer-col-2">
                    <a href="index.html"><img src="static/images/logo.png" alt=""></a>
                    <p>Connect With Us Stay up-to-date with the latest trends,
                        exclusive deals, and new arrivals by following us on
                        social media.</p>
                </div>
                <div class="footer-col-3">
                    <h3>Payment Methods</h3>
                    <ul>
                        <li>Visa</li>
                        <li>MasterCard</li>
                        <li>PayPal</li>
                    </ul>

                </div>
                <div class="footer-col-4">
                    <h3>Follow us</h3>
                    <ul>
                        <li>Facebook</li>
                        <li>Twitter</li>
                        <li>Instgram</li>
                        <!-- <li>YouTube</li> -->
                    </ul>

                </div>
            </div>
            <hr>
            <p class="copyright">Copyright @2024</p>
        </div>
    </div>

    <!-- js for toggle menu -->
    <!-- /* الجزء بتاع المنيو اللي ممكن يتشال */ -->
    <script>
        var MenuItems = document.getElementById("MenuItems");
        MenuItems.style.maxHeight = "0px";
        function menutoggle() {
            if (MenuItems.style.maxHeight == "0px") {
                MenuItems.style.maxHeight = "200px";
            }
            else {
                MenuItems.style.maxHeight = "0px";
            }

        }

    </script>





</body>

</html>