<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Market| Ecommerce website</title>
    <link rel="stylesheet" href="static/css/main.css">

</head>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?
family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,
900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<body>
    <div class="header">
        <div class="container">
            <div class="navbar">
                <div class="logo">
                    <a href="home"><img src="static/images/logo.png" width="125px"></a>
                </div>
                <nav>
                    <ul id="MenuItems">
                        <li><a href="home">Home</a></li>
                        <li><a href="products">Products</a></li>
                        <li><a href="about">About</a></li>
                        <li><a href="account">Account</a></li>
                    </ul>
                </nav>
                <a href="cart"><img src="images/cart.png" width="70px" height="70px"></a>
                <img src="images/menu.png" class="menu-icon " onclick="menutoggle()">
            </div>
            <!-- <div class="row">
                <div class="col-2">
                    <h1>About TrendyMart!</h1>
                    <p>At TrendyMart, we believe in bringing the latest trends right to your doorstep.
                        Founded in 2023, we are so glad to offer high-quality products at affordable prices, ensuring
                        every customer
                        finds something they love. With a wide range of products across various categories, we're
                        committed to providing a
                        seamless shopping experience that keeps our customers coming back for more..</p>
                    <h1>Our Mission</h1>
                    <p>we're committed to revolutionizing the way you shop for everything.
                        We believe that style shouldn't break the bank, and that every
                        person deserves to feel confident and beautiful.</p>
                    <a href="products.html" class="btn">Explore Now</a>
                </div>
                <div class="col-2">
                    <img src="images/about us.png">
                </div>
            </div> -->
<!-- ____________________________ -->
<!-- ---------items table -------- -->
            <h1>Market Page</h1>
            <table class="table table-hover table-dark">
                <thead>
                    <tr>
                        <!-- Your Columns HERE -->
                        <th scope="col">ID</th>
                        <th scope="col">Name</th>
                        <th scope="col">Barcode</th>
                        <th scope="col">Price</th>
                        <th scope="col">Options</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Your rows inside the table HERE: -->
                    {% for item in items %}
                        <tr>
                            <td>{{ item.id }}</td>
                            <td>{{ item.name }}</td>
                            <td>{{ item.barcode }}</td>
                            <td>{{ item.price }}$</td>
                            <td>
                                <button class="btn btn-outline">More Info</button>
                                <button class="btn btn-outline">Purchase this Item</button>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
<!-- ____________________________________            -->
        </div>
    </div>


    <!-- footer -->
    <!-- <div class="footer">
        <div class="container">
            <div class="row"> -->
                <!-- <div class="footer-col-1">
                    <h3>Download Our App</h3>
                    <p>Download App for Androied and ios mopile phone.</p>
                    <div class="app-logo">
                        <img src="images/googleplay logo.png">
                        <img src="images/appstore logo.png">
                    </div> -->
            <!-- </div>
            <div class="footer-col-2">
                <a href="index.html"><img src="images/logo.png" alt=""></a>
                <p>Connect With Us Stay up-to-date with the latest trends,
                    exclusive deals, and new arrivals by following us on
                    social media.</p>
            </div>
            <div class="footer-col-3">
                <h3>Payment Methods</h3>
                <ul>
                    <li>Visa</li>
                    <li>MasterCard</li>
                    <li>PayPal</li>
                </ul>

            </div>
            <div class="footer-col-4">
                <h3>Follow us</h3>
                <ul>
                    <li>Facebook</li>
                    <li>Twitter</li>
                    <li>Instgram</li> -->
                    <!-- <li>YouTube</li> -->
                <!-- </ul>

            </div>
        </div> -->
        <!-- <hr>
            <p class="copyright">Copyright @2024</p> -->
    <!-- </div> -->
    <!-- </div> -->

    <!-- js for toggle menu -->
    <!-- /* الجزء بتاع المنيو اللي ممكن يتشال */ -->
    <script>
        var MenuItems = document.getElementById("MenuItems");
        MenuItems.style.maxHeight = "0px";
        function menutoggle() {
            if (MenuItems.style.maxHeight == "0px") {
                MenuItems.style.maxHeight = "200px";
            }
            else {
                MenuItems.style.maxHeight = "0px";
            }

        }

    </script>





</body>

</html>